.input {
  outline: 2px solid white;
  outline-offset: -2px;
  background-color: white;
  color: rgba(89,89,89);
  &::placeholder {
    color: rgba(89,89,89);
  }
  &:focus {
    outline: none; /* Remove default focus outline */
    border: 1px solid rgba(89, 89, 89, 0.75); /* Add custom focus border */
    /* Add any other styles you want for the focused state */
  }
}
