.textInput {
  background-color: rgba(89, 89, 89, 0.75) !important;
  color: white !important;
  &::placeholder {
    color: var(--mantine-color-white) !important;
  }
  &:focus {
    outline: none !important; /* Remove default focus outline */
    border: 2px solid rgba(89, 89, 89, 0.3) !important; /* Add custom focus border */
    /* Add any other styles you want for the focused state */
  }
}
